<div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">
    <div class="inputs">
        <form ng-submit="editing = false">
            <input type="checkbox" ng-model="todo.completed" />
            <span ng-click="todo.completed = !todo.completed" ng-checked="todo.completed" aria-label="{{todo.name}}" role="checkbox"></span>
            <label ng-hide="editing" ng-click="editing = true; focusInput = true" aria-label="Hit enter to edit {{todo.name}}" role="label">{{todo.name}}</label>
            <input ng-show="editing" focus-me="focusInput" ng-blur="editing = false; focusSave = true" ng-model="todo.name" ng-change="todo.edited = true" ng-submit="editing = false" class="todo-label" type="text" />
        </form>
    </div>
    <div class="actions">
        <a href="#" ng-click="saveTodos(); editing = false" focus-me="focusSave" aria-label="Save {{todo.name}}">Save</a>
        <a href="#" class="delete" ng-click="deleteTodo(todo, $index)" aria-label="Delete {{todo.name}}">Delete</a>
    </div>
</div>
