body {
    color: #2d3339;
    font-family: "Varela Round";
    text-align: center;
    background: #edeff0;
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}

.btn-lg {
    padding: 9px 20px;
    font-size: 17px;
    line-height: 1.5;
}

.btn-success {
    background: #2ABF69;
}

.btn-success:hover:enabled {
    background: rgba(42, 191, 105, 0.7);
}

.btn-primary {
    background: #3f8abf;
}

.btn-primary:hover:enabled {
    background: rgba(63, 138, 191, 0.73);
}

.btn-danger {
    background: #ED5A5A;
}

.btn-danger:hover:enabled {
    background: #f28888;
}

.btn-disabled {
    background: lightgray;
    cursor: default;
}

.list {
    background: #fff;
    width: 65%;
    min-width: 500px;
    margin: 80px auto 0;
    border-top: 20px solid #ED5A5A;
    border-radius: 3px;
    text-align: left;
}

.list .count {
    background: #ED5A5A;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px 20px 0;
    text-align: right;
}

.list .item {
    border-bottom: 2px solid #edeff0;
    padding: 17px 0 20px 17px;
}

.list .item label {
    padding-left: 5px;
    cursor: pointer;
}

.todo-label {
    margin-left: 5px;
    font-family: "Varela Round";
    border-radius: 2px;
    border: 2px solid #a7b9c4;
    font-size: 16px;
    padding: 10px 0 10px 10px;
    width: 60%;
}

.list .item .actions {
    float: right;
    margin-right: 20px;
}

.list .item .inputs {
    margin-top: 8px;
    display: inline-block;
}

.list .item.editing-item .actions {
    margin-top: 14px;
}

.list .edited label:after {
    content: " edited";
    text-transform: uppercase;
    color: #a7b9c4;
    font-size: 14px;
    padding-left: 5px;
}

.list .completed label {
    color: #a7b9c4;
    text-decoration: line-through;
}

.list .add {
    padding: 25px 0 45px 25px;
    border-bottom: 2px solid #edeff0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+ span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(checkbox-empty.svg) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+ span {
    background: url(checkbox-filled.svg) left top no-repeat;
}

nav ul {
    text-align: left;
    list-style: none;
    margin-left: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li span {
    display: block;
    margin: 0;
    padding: 10px 15px;
    border: 2px solid #ED5A5A;
    color: #ED5A5A;
    background-color: #fff;
}

@media screen and (max-width: 850px) {
    .list {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .list {
        width: 95%;
        min-width: 0;
    }
    .list .item .actions {
        float: none;
        margin: 30px 0 10px 0;
    }
}
